.first-name {
  margin-left: 315px;
  margin-top: 70px;
  width: 150px;
  height: 45px;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 17px;;

}

.second-name {
  margin-right: 315px;
  margin-top: 70px;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border-width: 1px;
  padding-left: 10px;
  font-size: 17px;
  
}

.email {
  display: block;
  margin-left: 315px;
  margin-top: 10px;
  width: 317px;
  height: 45px;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 17px;
}

.login-button{
  display: block;
  margin-left: 315px;
  margin-top: 10px;
  width: 330px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color:#0057cce0;
  color: white;
  font-size: 17px;
  
}